html {
  height: 100%;
  /* font-size: 62.5%; */
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */
body {
  height: inherit;
  /* box-sizing: border-box; */
}

#root {
  height: inherit;
}

li {
  list-style: none;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-light-dark-1: #fafafa;
  --color-light-dark-2: #f0eeee;
  --color-light-dark-3: #ccc;
  --color-grey-dark-1: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #333;
  --color-orange: #ff9900;
}
